.list {
  display: flex;
  flex-wrap: wrap;
  margin: 120px 49px;

  .todo {
    margin: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 200px;
    padding: 10px 20px;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 45%);
    border-top: 3px solid #ffc1bf;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: auto;
    &.completed {
      border-top: 5px solid #83ff72;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0);
      background-image: url(../../assets/black-24dp/2x/baseline_delete_black_24dp.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    input {
      position: absolute;
      top: 3px;
      right: 35px;
      width: 25px;
      height: 25px;
    }
    .title {
      text-transform: capitalize;
      font-size: 22px;
    }
    .content {
      font-weight: 200;
      text-transform: lowercase;
    }
  }
}
